PGHOST=host_here
PGPORT=port_here
PGUSER=user_here
PGPASSWORD=password_here
PGDATABASE=database_here

PORT=port_here
DATABASE_URL="postgresql://user_here:password_here@host_here:port_here/database_here"
JWT_SECRET=secret_key_here
FRONTEND_URL=front_end_url_here
NODE_ENV=production